html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#root {
  width: 100%;
  height: 100%;
}

.app {
  width: 100%;
  height: 100%;
}

.game-container {
  margin: 0px auto;
  display: flex;
  flex-direction: column;

  width: 80vmin;
}

.game-header {
  padding: 1vmin;
}

.game-grid-container {
  flex: 1;
}

.game-grid {
  padding: 2vmin;
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 80vmin;
  border-radius: 2vmin;
}

.game-grid-row {
  display: flex;
  flex: 1;
  flex-direction: row;
}

.game-grid-cell {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  border-radius: 2vmin;
  overflow: hidden;
}

.game-grid-cell span {
  font-size: 8vmin;
  font-weight: bold;
}

.game-grid-row+.game-grid-row{
  margin-top: 2vmin;
}

.game-grid-cell+.game-grid-cell{
  margin-left: 2vmin;
}
